body
{
	background: url("tło.jfif");
    color: #ded25e;
}

.container
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
span > p { font-size: medium}
h1  { font-size: x large}
h2  { font-size: x large}