body
{
	background: url("1.jpg");
	background-size: 100%
	background-attachment: fixed;
}
div.container
{
	width: 1140px;
	margin: auto;
	padding: 0 15px;
}
article, header, footer, section{
	background: rgba(255, 255, 255, 0.6)
}